/* Mobile */
* {
    box-sizing: border-box;
}

body{ 
    margin: 0;
    padding: 0;
    font-size: 21px;
}

a {
    text-decoration: none;
}

.nav { 
    list-style-type: none;
    text-align:center;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.logo-header, 
.logo-footer {
    text-transform: capitalize;
    padding: 35px 0 10px 0 ;
    text-align: center;
    font-size: 1.7rem;
    color: #4A4A4A;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 900;

}

.logo-footer{
    font-size: 21px;
    padding: 0;
}

.contact-section {    
    text-align: center;
    padding: 10px 0;
    color: #8F93A9;
    font-family: 'Smooch Sans', sans-serif;
    
    
}

.nav-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.nav-list-header, .nav-list-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #4A4A4A;
    text-transform: uppercase;
    
}

.nav-item {
    margin: 5px 0;
    padding: 10px 12px;
    background-color: #fff;
}

.nav-link {
    font-weight: 700;
}

.image-wrapper {
    padding: 2px;
    margin: 40px;
}


.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    /* To attend requisites of 320 max width */
    max-width: 100%; 
    
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.flex-justify-content-space-between {
    justify-content: space-between;
}

.flex-align-items-center{
    align-items: center;
    justify-content: space-between;
}

.back-to-top {
    text-transform: uppercase;
    font-size: 21px;
    text-transform: capitalize;    
    text-align: center;    
    color: #4A4A4A;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 900;
}

.flex-item {
    width: 100%;
    
}

.responsive-image {
    width: 100%;
    height: auto;
}

#header {
    background-color: #FAFAFA;
    padding-bottom: 35px;
}

#portfolio {
    padding-bottom: 40px;
}

#footer {
    background-color:#FAFAFA;
    

}

h2 {
    text-align: center;
    color: #4C5054 ;
    text-transform: uppercase;
    font-size: 21px;    
    margin: 45px 0 ;
}

h3 {
    text-align: center;
    color: #585B5A;
    text-transform: capitalize;
}

.color-light {
    color: #8F93A9;
}

p {
    color: #8F93A9;
    text-align: center;
}
#copy-right a {
    text-align: right;
    margin-right: 0;
}

ul.nav-list-footer{
    display: none;
}
/* CSS frameworks Break points: 
320px — 480px: Mobile devices
481px — 768px: Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
 */
 
 
/*##################################################################################*/
/*tablet*/
@media screen and (min-width: 768px) {
    /* From  768px*/

    .container{
        max-width: 95%; 
         
    }

    .nav-list-header {    
        flex-direction: row;
        justify-content: center;
        padding-bottom: 20px;  
        
    }
    .profile-flex {
        display: inline-flex; 
        flex-direction: row;           
        flex-wrap: nowrap;
        flex-direction: row;
    }  

    .image-wrapper {
        order: 1;
        flex: 1; 
    }    
    
    div.image-wrapper{
        padding-top: 20px;
        margin: 0;
    }

    .profile-text {
        flex: 1.3;        
        text-align:left;
        font-size: 26px;                 
    }

    #header{
        padding-bottom: 60px;
    }
    
    .flex-container >* {  
           
       display:flex ;        
       flex-direction: column; 
       flex-wrap:wrap ;                    
    }

    .flex-item {
        width: 50%;
                       
    }

    article.flex-item{
        padding-bottom: 25px;
    }
    .portfolio-img{
        margin: 5px;
    } 

    .h3class, p.portfolio-text,
    .flex-item{
        text-align: center;
    } 
    h3.h3class{
        margin-bottom: 5px;
    }

    .portfolio-text{
        align-items:flex-end;
        margin-left: 0px; 
    }

    #portfolio {
        padding-bottom: 0px;
    }

    section.contact-section{
        margin-bottom: 30px;
    }

    p{
        margin-bottom: 30px;
        text-align:center;
    } 
    
    ul.nav-list-footer{
        display:flex;
        flex-wrap: nowrap;
    }
    
    .nav-item{
        background: transparent;
          
    }   
        
    .back-to-top {
         display: none;
    }
    .nav-list-footer, .logo-footer{
        display: flex;
        flex-direction: row;
        padding-bottom: 50px;    }
    
}
  /*##################################################################################*/
  /*desktop From  768px*/

@media (min-width: 1024px) {     
     
    .container{
      max-width: 95%;
    } 

    .nav-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 15px 0;
    }  

    .logo-header{
        padding-left: 25px;
    }
    nav.nav-header{
        padding-bottom:0;
    }
    
    .profile-text {
        flex: 1.5;        
        text-align:left;
        font-size: 26px;                 
    }
    
    .flex-container{
        display: flex;
    }

    .flex-item{
        width: 33.33%;
    }

    .nav-footer{
        display:flex;        
        align-items:baseline;
        padding: 5px 0;
    }

    .logo-footer {
        text-transform: capitalize;
        padding: 15px 0 10px 0 ;
        text-align: center;
        font-size: 1.7rem;
        color: #4A4A4A;
        font-family: 'Smooch Sans', sans-serif;
        font-weight: 900;
    }

    p {
        align-content: center;
        align-items: center;
    }
    
  
}