* {
    box-sizing: border-box;
}
.nav { 
    list-style-type: none;
    text-align:center;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.logo {
    text-transform: uppercase;

}

.nav-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
}

.nav-item {
    margin:8px 0 ;
    padding: 16px 8px;
    background-color: #fff;
}

.image-wraper {
    padding: 24px;
}
body{ 
    margin: 0;
    padding: 0;
}
/* This container will attend    */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
    /* To attend requisites of 320 max width */
    max-width: 290px; 
    /*768px - tablet (breakpoint)*/
    /* max-width: 720px; */
    /*1200px - desktop (breakpoint)*/
    /* max-width: 1140px; */
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    width: 100%;
}

.responsive-image {
    width: 100%;
    height: auto;
}

.logo {
    text-align: center;
}

#header{
    background-color: #FAFAFA;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

#portfolio {
    padding-bottom: 30px;
}

#footer {
    background-color:#FAFAFA;
    padding-top: 20px;

}

h2 {
    text-align: center;
    color: #4C5054 ;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {
    text-align: center;
    color: #585B5A;
    text-transform: capitalize;
}

.color-light {
    color: #8F93A9;
}

p {
    color: #333;
}



/*tablet*/
@media(min-width: 768px) {
    /* From  768px*/
    .container{
      max-width: 720px;
    }
    .flex-item{
        width: 50%;
      }
 }
  
  /*desktop*/
@media(min-width: 1200px){
     /* From  1200px*/
    .container{
      max-width: 1140px;
    }
  
    .flex-item{
      width: 33.33%;
    }
  }




