/* Complete the challenge by writing CSS below */
a:link {
    color: orange;
    }
    a:visited {
      color: steelblue;
    }
    a:hover{
        color:orange ;
    }
    /*  Types of Selectors  */

    /*Type Selectors*/
  


header{
  background-color: orange;
}

/*Descendent Selection*/
header p {
  background-color: snow;
  border-bottom: 1px solid gray;
 
}
footer{ 
  background-color: lightcoral;
}

a:link { 
  color: darkblue;
  background-color: peachpuff;
  text-decoration: none;
}
a:visited{
  color: seagreen;
}
a:hover {
  text-decoration: underline;
}
img:hover {
  border: 5px solid bleu;
  border-radius: 8px;
}  

/* This pseudo class called focus is used when the user tabs to it using a keyboard and stop on the page link so, it make the link obvious where the tab is  */
a:focus {
  color: white;
  background-color: orange;
  font-weight: bold;
}


ol li {
  list-style: none;
}

p{
  color: olive;
  font-size: 10;
}
  
/*Descendent Selection is part of Type Selection*/
ol li {
  letter-spacing: 3px;
  color: tomato;
}

ul li {
  list-style: none;
}

/* Id Selectors*/

#education {
  border: 3px solid orange;
}

/*Descendent Selection*/
#education h3 {
  font-family: Arial, sans-serif;
  font-size: 32px;
}

#skills-list {
  background-color: aliceblue;
  padding: 8px;
}

/*Class Selectors*/
.top-skills {
 background-color: teal;
 font-weight:bold;
  color: papayawhip;
}
.date{
  border: 2px solid steelblue;
  border-radius: 12px;
  padding: 6px;
}
.special { 
  text-transform: uppercase;
  background-color: papayawhip;
}
#proud {
  
  font-size: 38px;
}

/* The em-based font-size value for *.heading* is relative to its parent header's *font-size* value. This causes a compounding issue that makes the font-size value larger than the desired value. */

Replace the em units of .heading with a unit that is relative to the root element of the page.
/* Complete the challenge by writing CSS below */

html {
  font-size: 16px;
}

header {
  font-size: 1.5em;
}

.heading {
  font-size: 5em;
}


